@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.active{
    background-color: #8fe4f1;
    border-color: #0e0eca ;
}

select,input,textarea{
    border: 1px solid #8fe4f1;
    outline-color: #0e0eca ;
    border-radius: 4px;
}
